# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
